.tituloForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    font: normal normal bold 15px/23px Poppins;
    letter-spacing: 0px;
    color: #233BA0;
    opacity: 1;
}

.pasoForm{
    width: 126px;
    height: 27px;
    border-radius: 28px;
    margin-left: 30px;
    background: #F0F1F3;
    text-align: center;
    letter-spacing: 0px;
    color: #607AE2;
    opacity: 1;
}


